/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}




/* my works page */
.works {
	float: left;
	padding-top: 70px;
	margin: 0 10px 10px 0;
}

.work-box:nth-child(3n) {
	margin: 0;
}

.box-mayworks {
	margin-left: 110px;
}

.myworks_user {
	float: left;
	margin-left: 20px;
}

.user-image-work {
	border-radius: 10px;
}

.icons {
	float: right;
	font-size: 90px;
	padding: 0 15px;
	background-color: #191970;
	color: #FFFFFF;
	border-radius: 10px;
	margin-right: 50px;
}




/* goods */
.good-button {
	color: #FF9900;
}


/* font-family */
h2, h1, h4, h3, h5, h6, .table, btn, p, ul, a {
	font-family: 'Courier';
}




/* Contaner */
.main1 {
	border-radius: 22px 78px 22px 78px;
	border-bottom: 8px solid;
	border-right: 2px solid;
}

.main2 {
	border-radius: 22px 22px 22px 22px;
	border-bottom: 8px solid;
	border-right: 2px solid;
}

.main3 {
	border-radius: 78px 78px 22px 22px;
	border-bottom: 8px solid;
	border-right: 2px solid;
}




/* header */
.main-header {
	background-color: #003366;
	border-radius: 0 0 15px 15px;
	border-bottom: 5px solid #000077;
	border-right: 2px solid #000077;
}

.sub-header{
	background-color: #DCDCDC;
	border-radius: 15px;
	border-bottom: 7px solid #A9A9A9;
	border-right: 3px solid #A9A9A9;
}

.modal-content {
	border-bottom: 10px solid #888888;
	border-radius: 22px 22px 22px 22px;
}




/* modal coutam*/
.modal.fade {
    transition-duration: 1s;
}

.modal-backdrop {
    background-color: #000022;
}

